version: '3.8'

services :
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: your_username
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: rouleMaPouleDb
    volumes:
      - ./data:/var/lib/postgresql/data
  RouleMaPoule:
    image: roulemapoule
    container_name: roule-ma-poule
    build:
      context: ../RouleMaPoule
      dockerfile: dockerfile
    ports:
      - "8080:8080"